<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head'); %>
    <meta name="robots" content="noindex">
</head>

<body>
    <div class="container py-5">
        <div class="mb-4">
            <h1>Licenses</h1>
            <p>This software relies on many awesome projects, the licenses of which are listed below.</p>
        </div>

        <div class="accordion" id="licensesAccordion">
            <% licenses.forEach((license, index) => { %>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="accordion-heading-<%= index %>">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-<%= index %>" aria-expanded="false" aria-controls="accordion-collapse=<%= index %>">
                            <%= license.name %>
                            <span class="ms-2 badge rounded-pill text-dark border d-flex align-items-center fw-normal">
                                <%= license.version %>
                                <div class="vr mx-1"></div>
                                <%= license.license %>
                            </span>
                        </button>
                    </h2>
                    <div id="accordion-collapse-<%= index %>" class="accordion-collapse collapse" aria-labelledby="accordion-heading-<%= index %>" data-bs-parent="#licensesAccordion">
                        <pre class="accordion-body">
                            <%= license.licenseText %>
                        </pre>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <%- include('./components/footer'); %>
</body>

</html>